#nevjegy {
  background-color: #c47cf1;
  position: fixed;
  width: 400px;
  text-align: center;
  color: #a5f2ec ;
  padding: 7px;
  top: 40px;
  transform: rotate(45deg);
  right: -130px;
  font-size: 13px;
  border: solid 3px #0fe6d4;
}
